body {
  font-family: 'Lora', serif;
  margin: 20px;
  padding: 0;
  background-color: #000000;
  color: #5d4037;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 20px 20px;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar.expanded {
  height: 100px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: #fffffc;
  color: black;
}

.navbar a.active {
  background-color: #b68963;
  color: white;
  border-radius: 5px;
}

.nav-links {
  display: flex;
  height: 100%;
}

header {
  background-color: #000000;
  color: #000000;
  padding: 20px;
  text-align: center;
  background-image: url('bgg.jpg');
  background-size: cover;
  background-position: center;
}

header h1 {
  margin: 0;
  font-family: 'Lora', serif;
  color: #fffffc;
  text-align: left;
}


.summary h1 {
  text-align: left;
  font-family: 'Lora', serif;
  color: #b68963;

  #dataTable th,
  #dataTable td {
    color: rgb(0, 0, 0);
  }

  ;
  padding: 10px;
}

main {
  padding: 20px;
}

section h2 {
  border-bottom: 2px solid #fffffc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #b68963;
}

.summary {
  color: #000000;
}

.garis-pemisah {
  width: 100%;
  height: 2px;
  background-color: white;
  border: none;
  margin: 20px 0;
}

.summary-content {
  border: 1px solid #fffffc;
  background-color: #fffffc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.summary-content:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.filter-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.filter-container label {
  font-weight: bold;
  color: #fffffc;
}

.filter-container select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fffffc;
  width: 100%;
  max-width: 300px;
}

.filter-button {
  display: inline-block;
  font-family: 'Lora', serif;
  background-color: #fffffc;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.filter-button:hover {
  background-color: #b68963;
  transform: scale(1.05);
}


.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  min-width: 200px;
  border: 1px solid #fffffc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s;
  background-image: url('bg2.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  color: black;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  padding-top: 15px;
  margin-top: 0;
  color: black;
}

.card p {
  font-size: 1.5em;
}



.card-js {
  display: grid;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 95%;
}

table {
  width: 100%;
  justify-content: center;
  margin: 25px;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
}

th {
  background-color: #f2f2f2;
  color: #b68963;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .burger-menu .line {
    width: 25px;
    height: 3px;
    background-color: lightsalmon;
    margin: 4px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 60%;
  }

  .nav-links.show {
    display: flex;
  }
}


.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_filter label,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: antiquewhite;
  font-weight: bold;
  /* Change to your desired color */
}

.dataTables_wrapper .dataTables_filter input {
  color: antiquewhite;
  /* Change to your desired color */
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: antiquewhite !important;
  /* Ensure higher specificity */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: antiquewhite !important;
  /* Change hover color if needed */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: white !important;
  background-color: antiquewhite !important;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  color: #000000;
}

.footer p {
  margin: 0;
}

.footer .copyright {
  font-size: 0.8rem;
}