body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f3e9;
  color: #5d4037;
}

.no-scroll {
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px 20px;
  transition: height 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar.expanded {
  height: 100px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.nav-links {
  display: flex;
  height: 100%;
}

header {
  background-color: #3e2723;
  color: #000000;
  padding: 20px;
  text-align: center;
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center;
}

header h1 {
  margin: 0;
  font-family: 'Pacifico', cursive;
}

main {
  padding: 20px;
}

section h2 {
  border-bottom: 2px solid #d7ccc8;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #3e2723;
}

.filter-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.filter-container label {
  font-weight: bold;
  color: #3e2723;
}

.filter-container select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d7ccc8;
  width: 100%;
  max-width: 300px;
}

.filter-button {
  display: inline-block;
  background-color: #04AA6D;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.filter-button:hover {
  background-color: #037a53;
  transform: scale(1.05);
}


.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 200px;
  border: 1px solid #d7ccc8;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-image: url('bg.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  margin-top: 0;
  color: #000000;
}

.card p {
  font-size: 1.5em;
}

.card-container {
  display: flex;
}

.card-js {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .burger-menu .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 60%;
  }

  .nav-links.show {
    display: flex;
  }
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  color: #333;
}

.footer p {
  margin: 0;
}

.footer .copyright {
  font-size: 0.8rem;
}

.flex-wrapper {
  display: flex;
  justify-content: start;

}

.flex-item {
  padding: 10px;
  box-shadow: 0px 0px 6px 2px rgb(152 139 139 / 50%);
}

.flex-wrapper2 {
  display: flex;
  justify-content: space-evenly;

}

.flex-item2 {
  padding: 10px;
  box-shadow: 0px 0px 6px 2px rgb(152 139 139 / 50%);
}

img {
  max-width: 100%;
}

/* CHECKBOX STYLING*/
.multiselect {
  width: 100%;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#selectMonth {
  display: none;
  border: 0.5px #7c7c7c solid;
  background-color: #ffffff;
  max-height: 150px;
  overflow-y: scroll;
}

#selectMonth label {
  display: block;
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  background-color: #ffffff00;
  padding: 0 2.25rem 0 .75rem;
  /* padding: .375rem 2.25rem .375rem .75rem; */
}

#selectMonth label:hover {
  background-color: #1e90ff;
}




/* STORE CHECKBOX STYLE*/
.multiselectStore {
  width: 100%;
}

.selectBoxStore {
  position: relative;
}

.selectBoxStore select {
  width: 100%;
}

.overSelectStore {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#selectStore {
  display: none;
  border: 0.5px #7c7c7c solid;
  background-color: #ffffff;
  max-height: 150px;
  overflow-y: scroll;
}

#selectStore label {
  display: block;
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  background-color: #ffffff00;
  padding: 0 2.25rem 0 .75rem;
  /* padding: .375rem 2.25rem .375rem .75rem; */
}

#selectStore label:hover {
  background-color: #1e90ff;
}

/* Loading */
#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://i.sstatic.net/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}